body{
  overflow: hidden;
  margin: 0;
  padding: 0;

}

.circle {
  background: #000;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  margin: inherit;
  left: 0;
  /*right: 0;*/
  /*top: 50%;*/
  /*margin: auto;*/
}


.btn{
  width: 50%;
  top: 25%;
  display: block;
  position: absolute;
  /*left: 25%;*/
  /*padding: 20px 10px;*/
  text-decoration: none;
  text-transform: uppercase;
  background: #cacaca;
  text-align: center;
  font-family: Arial;
  font-size: 26px;
  color: #000;
  box-sizing: border-box;
}

.btn.active{
  background: #E89090;
}
